spring:
  config:
    import: secret.yaml

server:
  port: 8081

logging:
  level:
    org:
      springframework:
        data:
          mongodb:
            core:
              MongoTemplate: DEBUG